* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: blanchedalmond;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    background-color: #dfcfcf;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    overflow-x: hidden;
}
.menu{
    background-color: aqua;
    width: 200px;
    height: 800px;
    display: none;

}

.logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    
}

.logo {
    margin-left: 15px;
    background-image: url(./img/usuario.png);
    background-size: cover;
    width: 35px;
    height: 35px;
}
.logoh {
    margin-left: 15px;
    background-image: url(./img/flotante.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 75vw;
    top: 90vh;
    background-color: rgba(29, 29, 31, 0.712);
    border-radius: 40px 40px 40px 40px;
}
.secciona{
  
    height: 100vh;
    width: 100vw;

}
a:hover .menu
{
    background-color: thistle;
    display: block;
}

.nav-container {
    margin-right:15px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

ul {
    display: flex;
    align-items: center;
    justify-content: end;
}

li {
    margin: 10px;
}

a {
    color: white;
}

main{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;

}
.seccion1{
   
    width: 100%;
    height: 25vh;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: green;
}
.seccion2{
    background-color: blue;
    width: 100%;
    height: 25vh;
    font-size: 3rem;
}
.seccion3{
    background-color: purple;
    width: 100%;
    height: 40vh;
    font-size: 3rem;
}
footer{
    background-color:rgb(231, 231, 231);
    width: 100%;
    height: 5vh;
    
}

.seccion2 input{
    width: 25vw;
    height:35px;
    border-radius: 10px;
    border: 1px solid #7a7a7a;   
    display: flex;
    align-items: center;
    justify-content: center;
}
::placeholder

.seccion2 input ::placeholder{
    color: greenyellow;
}
.boton-buscar{
    margin-top: 10px;
    width:25vw;
    height: 50px;
    background-color: #FFC000;
    border: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    padding: 0 15px;
    border: 1px solid #FFC000;
    border-radius: 10px;
    text-align: center;
    
    }