* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: rgb(180, 180, 180);
    height: auto;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    position: relative;
align-items: center;

}

header {
    
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 35px;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 5px 5px;
    border-bottom: solid 1px rgb(105, 101, 103);
    position: fixed;
   
}

.logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo  {background-size: cover;width: 20px;height: 20px;}
.logoa {background-image: url(./img/casa.png);}
.logob {background-image: url(./img/campana.png);}
.logoc {background-image: url(./img/grafico-de-barras.png.crdownload);}
.logod {background-image: url(./img/campana.png);}
.logoe {background-image: url(./img/campana.png);}
.logof {background-image: url(./img/campana.png);}
.logog {background-image: url(./img/campana.png);}


.logo-container-flotante{
    width: 100vw;
    height: 20vh;
    background-color: black;
    top: 80vh;
    position: fixed;
}
.flotante {
    background-image: url(./img/flotante.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    position: fixed;
    left: 80vw;
    top: 88vh;
   
}
.Contenedor-principal{
    background-color: rgb(48, 130, 0);
  margin-top: 35px;
    height: 100vh - 50px;
    width: 100vw;
    overflow-x: none;
    display: flex;
    
}
.page1
{
    width: 100vw;
    height: auto;

}


.Tarjeta-principal{
    background-color: rgb(255, 255, 255);
    height: 200vw;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.titulo{
    background-color: rgb(12, 12, 12);
    height: 25vw;
    width: 100%;

}
.contenido{
    background-color: rgb(10, 10, 10);
    height:150vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
video{
    height: 150vw;
    width: 100vw;
}
.funciones{
    background-color: rgb(10, 10, 10);
    height: 25vw;
    width: 100%;

}



/*----------------------------------------------------------------------------> Menu style*/
.menu{
    position: fixed;
    left: 75vw;
    width: 25vw;
    height: 100vh;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.option-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.op  { background-size: cover;width: 50px;height:50px;}
.op1 {background-image: url(./img/casa.png);}
.op2 {background-image: url(./img/campana.png);}
.op3 {background-image: url(./img/grafico-de-barras.png.crdownload);}
.op4 {background-image: url(./img/campana.png);}
.op5 {background-image: url(./img/campana.png);}
.op6 {background-image: url(./img/campana.png);}
.op7 {background-image: url(./img/campana.png);}